
venv/
.history/
.history
history*
__pycache__/
.idea/
logs/celery.log
celery.log
celerybeat-schedule
.vscode/
setup.cfg
.env
**/migrations/**
**/migrations
**/migrations/__init__.py
.DS_Store

.env
.pytest_cache
/env
*.sqlite3
.coverage
htmlcov
/logs/
**/logs/**

